# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks    


# Global properties
separator=true
separator_block_width=15

[arch-update]
command=/home/fs0c13ty/.config/scripts/arch-update
interval=3600
markup=pango
LABEL= 
color=#ffffff

[documentation]
full_text= GitHub 
website=https://github.com/pkgnpdeb
command=xdg-open "$website"
color=#ffffff

[cpu_usage]
command=/home/fs0c13ty/.config/scripts/cpu_usage
interval=10
LABEL= 
color=#376932=
#min_width=CPU: 100.00%
#T_WARN=50
#T_CRIT=80
#DECIMALS=2

[memory]
command=/home/fs0c13ty/.config/scripts/memory
label= 
interval=30
color=#58265E

[memory]
command=/home/fs0c13ty/.config/scripts/memory
label= 
instance=swap
interval=30
color=#241AA2

[disk]
command=/home/fs0c13ty/.config/scripts/disk
LABEL= 
#DIR=$HOME
#ALERT_LOW=10
interval=30

[greetings]
color=#f5af19
command=echo "Hello, $USER!"
interval=once
color=#E8BF08

[docker]
command=/home/fs0c13ty/.config/scripts/docker
color=#2000F9
interval=10
LABEL=

[battery]
command=/home/fs0c13ty/.config/scripts/battery
interval=30
#LABEL=BAT
LABEL=⚡
#color=#DC0C00
#BAT_NUMBER=0

[bandwidth]
command=/home/fs0c13ty/.config/scripts/bandwidth
interval=5
color=#ffffff
#INTERFACE=eth0
#INLABEL=IN 
#OUTLABEL=OUT 
#TREAT_UNKNOWN_AS_UP=0

[time]
command=/home/fs0c13ty/.config/scripts/time
interval=1
#TZ_FILE=~/.tz
STRFTIME_FORMAT= %Y-%m-%d %H:%M| 
color=#000000
TZONES=Asia/Kathmandu
TZ_LABELS=,Nepal

[volume]
command=/home/fs0c13ty/.config/scripts/volume
LABEL=♪
color=#2604998
#LABEL=VOL 
interval=once
signal=10
#STEP=5%
#MIXER=[determined automatically]
#SCONTROL=[determined automatically]
#NATURAL_MAPPING=0



#[user]
#label= 
# Install fontawesome for use this
#label=User: 
#command=lslogins | grep $USER | awk '{print $5,$NF}'
#interval=once

